SITE_URL=https://example.com
HOST=0.0.0.0
PORT=8000
BLOG_VIEWS_FILE=./src/data/blog-views.json
CONTENT_DATABASE_FILE=./src/data/content.sqlite
GITHUB_USERNAME=your-github-username
GITHUB_TOKEN=your-github-token
